<h2> The Value of Money</h2>
<div class="data clear">
    <div class="fig">
        <figure>
            <img class="images" src="./img/i2.jpg" alt="value of money">
            <figcaption class="placeholder">Money</figcaption>
        </figure>
    </div>
    <p>Often times, people say that they can live without money. They define money as just one of the tools that enhances peoples living environment. However, in real life money is a very important matter in peoples lives. Although the people in history might have lived through the exchange of goods and not relying to the value of money itself, modern society today could not function without money. Money plays a huge role in the society in variety of ways such as in business, at peoples job, and even in education. Money helps people achieve a better quality of education, larger chance of business success, and higher work output.

    </p>
</div>
<h2>GMO food</h2>
<div class="data clear">
    <div class="fig">
        <figure>
            <img class="images" src="./img/i1.jpg" alt="GMO Food">
            <figcaption class="placeholder">Processed food</figcaption>
        </figure>
    </div>
    <p>
        the natural host range of the bacterium and therefore other methods are used for additional crop plants. Such methods are uptake of naked DNA by electroporation or particle gun bombardment. The use of genetic markers, as mentioned previously, allows for the preferential growth of cultures that contain the new genetic.I was a kid, science teacher taught me Genetically Modified Food is the research of the future and will lead to solving the famine issues of the future. I heard lots of scientists were researching the Genetically Modified Food and that they had already ended the experiment. So I thought no one would have to bear hunger. Nowadays, despite the progress on Genetically Modified Food, many people continue to suffer from famine.
       
    </p>
</div>
<h2>The View of World in 2100</h2>
<div class="data clear">

    <div class="fig">
        <figure>
            <img class="images" src="./img/i3.jpg" alt="View of World in 2100">
            <figcaption class="placeholder">Technology</figcaption>
        </figure>
    </div>
    <p>
        Internet is very famous nowadays for satisfying people with various services related to various different fields. It is a very versatile facility which can help you in completing many tasks easily and conveniently with few clicks. It can be any work of daily usage or any specific service which needs a lot of research and formalities to be done beforehand. Almost everything is now available over internet in this age of advancement of technologies. It is in general practice nowadays for a person to look for a particular solution over there and getting satisfied with the appropriate solution. You can pay your bills online and purchase various items by going through various websites and choosing among a variety of options. One can get information on any particular thing around the world using internet facility.
    </p>
</div>
