<h3>Portfolio</h3>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <img src="./img/img3.jpg" alt="value of money">
            <div>
                <h5>Time is Money</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <img src="./img/ux.jpg" alt="value of money">
            <div>
                <h5>Nature</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <img src="./img/img2.jpg" alt="value of money">
            <div>
                <h5>Save it!</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <img src="./img/img1.jpg"  alt="value of money">
            <div>
                <h5>Robotics</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <img src="./img/videoedit.jpeg" alt="value of money">
            <div>
                <h5>Astronomy</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <img src="./img/photography.jpg" alt="value of money">
            <div>
                <h5>Artificial Intelligence</h5>
            </div>
        </div>
    </div>    
